<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>embedding API report path example</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <script type="text/javascript" th:src="${bireportingjs_ServiceUrl + '/jsapi'}"></script>
</head>
<body>
<h2>embedding API report example with yaml path</h2>

<mbir-report
        th:url="${bireportingjs_ServiceUrl}"
        yamlPath="../../yaml/report.yaml"
        authToken="NON/Applicable"
        width="100%"
        height="100%"
        id="wrapper3">
</mbir-report>

</body>
</html>
