p {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;    
}

div {
  background-color: gray;
}

img {
    width: 100%;
    height: auto;
    opacity: 0.1;
    position: absolute;
}

h3 {
    text-align: center;
    color: #0D6EFD;
}